{{> _corusel}}
<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="row block-9">
            <div class="col-md-6 pr-md-5 m-auto card card-body">
                <div class="row d-flex mb-3 contact-info">
                    <div class="col-md-12 mb-4">
                        <h2 class="text-center">Add new employer</h2>
                    </div>
                    <div class="w-100"></div>
                </div>
                <form action="/staff/addstaff" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First name" name="firstname">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last name" name="lastname">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Profession" name="profession">
                    </div>
                    <div class="form-group">
                        <textarea name="description" cols="30" rows="3" class="form-control" placeholder="One sentence description"></textarea>
                    </div>
                    <div class="form-group">
                        <h5>Profile image</h5>
                            <label for="image-default" class="image-button btn btn-primary" type="button">Upload
                                photo</label>
                            <input type="file" id="image-default" name="image" style="display: none;">
                            <label class="image-label"></label>
                            <div class="preview-container" style="display: flex;">
                                <img class="image-preview" src="" style="width: 250px; max-height: 250px;">
                            </div>
                    </div>
                    <div class="form-group" style="float:right;">
                        <input type="submit" value="Save" class="btn btn-primary py-2 px-3">
                    </div>
                </form>

            </div>

        </div>
    </div>
</section>